services:
  gs:
    env_file:
      - run.env
    image: gs-floaters:cu121

    build:
      context: .
      args:
        ARCHS: "8.0;8.6;8.9"

    entrypoint: ["/workspace/app/entrypoint.sh"]

    # GPU needs NVIDIA Container Toolkit 
    gpus: all
    environment:
      NVIDIA_VISIBLE_DEVICES: all

    volumes:
      - ./data:/workspace/app/data
      - ./Depth-Anything-V2/checkpoints:/workspace/app/Depth-Anything-V2/checkpoints
      - ./output:/workspace/app/output

    ipc: host
    shm_size: "16g"
    restart: "no"
